* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  background-color: rgb(231, 242, 252);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-principal {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 80%;
  background-color: white;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin-top: 2.5rem;
  color: rgb(12, 12, 12);
}

.container-input {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 50%;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: solid 1px rgb(231, 230, 230);
}

.container-principal label {
  color: #2c2b2e;
  margin-bottom: 6px;
  margin-top: 15px;
}

#number1 {
  width: 100%;
  border-radius: 8px;
  padding: 5px;
  border: solid 1px rgb(231, 242, 252);
  color: white;
}

#number2 {
  width: 100%;
  border-radius: 8px;
  padding: 5px;
  border: solid 1px rgb(231, 242, 252);
  color: white;
}

#bnt-somar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 4px;
  margin-right: 4px;
  padding: 10px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #2d8cff, #6b32ff);
  color: white;
  font-size: 1.3rem;
}

.container-p {
  display: flex;
  justify-content: center;
}

#res {
  color: rgb(12, 12, 12);
}

@media (max-width: 1366px) {
  h1 {
    font-size: 2.6rem;
  }

  .container-input {
    width: 80%;
  }
}

@media (max-width: 1130px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 870px) {
  h1 {
    font-size: 1.5rem;
  }

  .container-principal {
    width: 70%;
  }

  .container-input {
    width: 70%;
  }

  .container-input label {
    font-size: 0.8rem;
  }

  #bnt-somar {
    padding: 5px;
    font-size: 1rem;
  }

  #res {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
    h1 {
    padding: 4rem;
    font-size: 1rem;
  }

  .container-principal {
    width: 80%;
  }

  .container-input {
    width: 70%;
  }

  .container-input label {
    font-size: 0.8rem;
  }

  #bnt-somar {
    padding: 5px;
    font-size: 1rem;
  }

  #res {
    font-size: 0.8rem;
  }
}

@media (max-width: 915px) {
      h1 {
    font-size: 2.5rem;
  }

  .container-principal {
    width: 70%;
  }

  .container-input {
    width: 70%;
  }

  .container-input label {
    font-size: 1.3rem;
  }

  #bnt-somar {
    padding: 10px;
    font-size: 1.5rem;
  }

  #res {
    font-size: 1.3rem;
  }
}

@media (max-width: 1030px) {
        h1 {
    font-size: 2.5rem;
  }

  .container-principal {
    width: 70%;
  }

  .container-input {
    width: 70%;
  }

  .container-input label {
    font-size: 1.3rem;
  }

  #bnt-somar {
    padding: 10px;
    font-size: 1.5rem;
  }

  #res {
    font-size: 1.3rem;
  }
}

@media (max-width: 390px) {
  h1 {
    padding-bottom: 1rem;
    padding-top: 0px;
  }

  .container-principal {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-input {
    height: 60%;
  }

  #res {
    padding-bottom: 1rem;
  }
}